/*Universally applied to page to scroll smoothly*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: red;
    text-shadow: grey;
    font-size: 250%;
    margin: 0%; 
}

ul {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 200%;
    list-style: none;
}

ul li a {
    display: flex;
    align-items: center;
    color: lightblue;
    background-color: black;
    border-radius: 20px;
    border: solid;
    font-weight: bolder;
    text-shadow: grey 3px 3px 5px;
    margin: 5%;
}

h2 {
    display: flex;
    justify-content: center;
    color: forestgreen;
    text-shadow: lightskyblue 4px 4px 6px;
    letter-spacing: 10px;
    font-size: 175%;
}

section {
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    padding: 5%;
    margin: 200px;
}

section :nth-child(even) {
    color: linen;
    background-color: grey;
}

#profileimg {
    width: 100%;
}

@media screen and (max-width: 750px) {
    ul {
        flex-direction: column;
    }
    
}